
/* Navbar 1 */
.fn a{
    color: black;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    margin: 6px;
}
.fn a:hover{
    background-color: #0D6EFD;
    color: white;
    
}

.fa-compass {
    color: rgb(219, 242, 13);
    font-size: 2rem;
}

img{
    border-radius: 20px;
}


/* Card */
.card2{
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
   

}
.card{
    margin: 15px;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* icons */
#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter P{
    font-size: 0.8rem;
  }
  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
  }

  .fn2{
    margin-left: 220px;
  }

  .btns{
    display: flex;
}
.f3{
  height: 300px;
  border-top: 25px;
}


/* username style */


.chat-box {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  width: 257px;
  height: 99px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  
}

.chat-box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #555;
}

.chat-content {
  flex-grow: 1;
}

.chat-name {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
  color: #555;
}

.chat-time {
  font-size: 14px;
  color: black;
}

.fn4{
  margin-right: 860px;
}


/* show index style */
.chat-box1 {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  color: white;
  border-radius: 10px;
  width: 257px;
  height: 79px; 
}
.chat-box1 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #555;

}
.chat1-name {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
  color: #555;
 
}