
/* Navbar 1 */
.fn a{
    color: black;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    margin: 6px;
}
.fn a:hover{
    background-color: red;
    
}

.fa-compass {
    color: rgb(219, 242, 13);
    font-size: 2rem;
}

img{
    border-radius: 20px;
}


/* Card */
.card2{
    display: flex;
    flex-wrap: wrap;
    margin: 6px;
   

}
.card{

    border: 1px solid black;
    margin: 15px;
   
    
}